// Variables
$bgcolor: #013243;
$bgcolorclicked: #0c2461;
$mainfontcolor: #145574;

// Fonts
@font-face {
    font-family: bebas;
    src: url(../assets/fonts/BEBAS___.ttf);
}

@font-face {
    font-family: telegrafico;
    src: url(../assets/fonts/telegrafico.ttf);
}

// SCSS
body {
  background-color: $bgcolor;
  transition: background-color 1s ease-out;
}

body:active {
  background-color: $bgcolorclicked;
}

h1 {
  color: $mainfontcolor;
  font-family: bebas;
}

nav {
  a {
    color: $mainfontcolor;
  }

  .Logo {
    margin-right: 5px;
  }

  font-family: bebas;
}

.App {
  text-align: center;
}

.planet {
  margin-top: 10px;
  margin: 0 auto;
  -webkit: {
    touch-callout: none;
    user-select: none;
    user-drag: none;
  }
  -khtml: {
    user-select: none;
  }
  -moz: {
    user-select: none;
  }
  -ms: {
    user-select: none;
  }
  -o: {
    user-select: none;
  }
  user: {
    select: none;
    drag: none;
  }
}
